Simulation(
    name: "test",
    description: "test",
    start_at: Offset("-PT10s"),
    end_at: Offset("PT10s"),
    devices: [
        Device(
            name: "oven",
            sensors: [
                Sensor(
                    name: "temp",
                    sampling_rate: 1000,
                    value_generator: GeneratorConfig(
                        generator_id: "sma",
                        params: {
                            "min": "10.0",
                            "max": "20.0",
                            "precision": "2",
                            "buffer_size": "10"
                        }
                    ),
                ),
                Sensor(
                    name: "const",
                    sampling_rate: 1000,
                    value_generator: GeneratorConfig(
                        generator_id: "const",
                        params: {
                            "val": "const2",
                        }
                    ),
                )
            ],
            devices: [
                Device(
                    name: "door",
                    sensors: [
                        Sensor(
                            name: "temp",
                            sampling_rate: 1000,
                            value_generator: GeneratorConfig(
                                generator_id: "sma",
                                params: {
                                    "min": "10.0",
                                    "max": "20.0",
                                    "precision": "2",
                                    "buffer_size": "10"
                                }
                            ),
                        ),
                    ]
                )
            ]
        )
    ]
)
